<main>
    <div class="form-collection" style="{{ style }}">
    <h1>Formulário:</h1>
    <app-search-form (enviandoEndpoint)="recebendoEndpointColecoes($event)"></app-search-form>
    <p class="error">{{ errorMessage }}</p>
    @if(posts.length > 0) {
        <section class="collection-container">
            @for(post of posts; track posts) {
                <app-collections 
                    title="{{ post.name }}"
                    block="{{ post.block }}"
                    date="{{ post.releaseDate }}"
                    code="{{ post.code }}"
                    (enviandoEndpoint)="recebendoEndpointCartas($event)"
                    >
                </app-collections>
            }
        </section>
        }
    </div>
    <div class="loading-gif" style="{{ loading }}">
        <img src="/assets/loading.gif" alt="">
    </div>
    @if(cardsProntos.length === 30) {
        <h1>Cartas:</h1>
        <section class="card-container">
            @for(card of cardsProntos; track cardsProntos) {
                <app-cards
                    name="{{ card.name }}"
                    manaCost="{{ card.manaCost }}"
                    text="{{ card.text }}"
                    imageUrl="{{ card.imageUrl }}"
                ></app-cards>
            }
        </section>
    }
</main>